<?xml version="1.0" encoding="utf-8" ?>

<!--配置数据源-->
<bean id="dataSource" class="${dataSource}" destroy-method="close">
    <property name="driverClassName" value="${db.driver}"/>
    <property name="url" value="${db.url}"/>
    <property name="username" value="${db.username}"/>
    <property name="password" value="${db.password}"/>
    <property name="maxActive" value="10"/>
    <property name="maxIdle" value="5"/>
</bean>

<!--配置sqlSessionFactory, SqlSessionFactoryBean是用来产生sqlSessionFactory的-->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <!--    加载mybatis的全局配置文件-->
    <property  name="configLocation" value="SqlMapConfig.xml"/>
    <!--加载数据源，使用上面配置好的数据源-->
    <property  name="dataSource" ref="dataSource"/>
</bean>

<!--MapperFactoryBean:根据mapper接口生成的代理对象-->
<bean id="studentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.tc.mapper.StudentMapper"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>



